In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
premise_file = "Resources/PopulationNumbers.csv"
pop_df = pd.read_csv(premise_file)
pop_df.head()

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,"April 1, 2010",NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
3,United States,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715","318,301,008","320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
4,Northeast,"55,317,240","55,318,443","55,380,134","55,604,223","55,775,216","55,901,806","56,006,011","56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"

In [3]:
pop_df = pop_df.dropna()
pop_df.head()

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3,United States,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715","318,301,008","320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
4,Northeast,"55,317,240","55,318,443","55,380,134","55,604,223","55,775,216","55,901,806","56,006,011","56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"
5,Midwest,"66,927,001","66,929,725","66,974,416","67,157,800","67,336,743","67,560,379","67,745,167","67,860,583","67,987,540","68,126,781","68,236,628","68,329,004"
6,South,"114,555,744","114,563,030","114,866,680","116,006,522","117,241,208","118,364,400","119,624,037","120,997,341","122,351,760","123,542,189","124,569,433","125,580,448"
7,West,"71,945,553","71,946,907","72,100,436","72,788,329","73,477,823","74,167,130","74,925,793","75,742,555","76,559,681","77,257,329","77,834,820","78,347,268"

In [4]:
# Rename the column headers
pop_cols_rename = pop_df.rename(columns={"table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)": "State",
                                                          "Unnamed: 11": "2018"})

In [5]:
# Create a filtered dataframe from specific columns
pop_cols = ["State", "2018"]
pop_trans= pop_cols_rename[pop_cols].copy()

pop_trans.head(10)

            State         2018
3   United States  326,687,501
4       Northeast   56,046,620
5         Midwest   68,236,628
6           South  124,569,433
7            West   77,834,820
8        .Alabama    4,887,681
9         .Alaska      735,139
10       .Arizona    7,158,024
11      .Arkansas    3,009,733
12    .California   39,461,588

In [6]:

pop_df = pop_trans.drop(pop_df.index[0:5])

#pop_df = pop_df.drop(0)

pop_df

                    State        2018
8                .Alabama   4,887,681
9                 .Alaska     735,139
10               .Arizona   7,158,024
11              .Arkansas   3,009,733
12            .California  39,461,588
13              .Colorado   5,691,287
14           .Connecticut   3,571,520
15              .Delaware     965,479
16  .District of Columbia     701,547
17               .Florida  21,244,317
18               .Georgia  10,511,131
19                .Hawaii   1,420,593
20                 .Idaho   1,750,536
21              .Illinois  12,723,071
22               .Indiana   6,695,497
23                  .Iowa   3,148,618
24                .Kansas   2,911,359
25              .Kentucky   4,461,153
26             .Louisiana   4,659,690
27                 .Maine   1,339,057
28              .Maryland   6,035,802
29         .Massachusetts   6,882,635
30              .Michigan   9,984,072
31             .Minnesota   5,606,249
32           .Mississippi   2,981,020
33              .Missouri   6,121,623
34               .Montana   1,060,665
35              .Nebraska   1,925,614
36                .Nevada   3,027,341
37         .New Hampshire   1,353,465
38            .New Jersey   8,886,025
39            .New Mexico   2,092,741
40              .New York  19,530,351
41        .North Carolina  10,381,615
42          .North Dakota     758,080
43                  .Ohio  11,676,341
44              .Oklahoma   3,940,235
45                .Oregon   4,181,886
46          .Pennsylvania  12,800,922
47          .Rhode Island   1,058,287
48        .South Carolina   5,084,156
49          .South Dakota     878,698
50             .Tennessee   6,771,631
51                 .Texas  28,628,666
52                  .Utah   3,153,550
53               .Vermont     624,358
54              .Virginia   8,501,286
55            .Washington   7,523,869
56         .West Virginia   1,804,291
57             .Wisconsin   5,807,406
58               .Wyoming     577,601
60            Puerto Rico   3,193,354

In [7]:
pop_df[['drop', 'State']]= pop_df.State.str.split(".",expand=True,)

In [8]:
pop_df.head()

         State        2018 drop
8      Alabama   4,887,681
9       Alaska     735,139
10     Arizona   7,158,024
11    Arkansas   3,009,733
12  California  39,461,588

In [9]:
pop_df.drop('drop', axis='columns', inplace=True)
pop_df.head()

         State        2018
8      Alabama   4,887,681
9       Alaska     735,139
10     Arizona   7,158,024
11    Arkansas   3,009,733
12  California  39,461,588