In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
premise_file = "Resources/PopulationNumbers.csv"
pop_df = pd.read_csv(premise_file)
pop_df.head()

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,"April 1, 2010",NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
3,United States,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715","318,301,008","320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
4,Northeast,"55,317,240","55,318,443","55,380,134","55,604,223","55,775,216","55,901,806","56,006,011","56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"

In [5]:
pop_df = pop_df.dropna()
pop_df.head()

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3,United States,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715","318,301,008","320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
4,Northeast,"55,317,240","55,318,443","55,380,134","55,604,223","55,775,216","55,901,806","56,006,011","56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"
5,Midwest,"66,927,001","66,929,725","66,974,416","67,157,800","67,336,743","67,560,379","67,745,167","67,860,583","67,987,540","68,126,781","68,236,628","68,329,004"
6,South,"114,555,744","114,563,030","114,866,680","116,006,522","117,241,208","118,364,400","119,624,037","120,997,341","122,351,760","123,542,189","124,569,433","125,580,448"
7,West,"71,945,553","71,946,907","72,100,436","72,788,329","73,477,823","74,167,130","74,925,793","75,742,555","76,559,681","77,257,329","77,834,820","78,347,268"

In [ ]:
# Rename the column headers
pop_cols_rename = premise_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Create a filtered dataframe from specific columns
premise_cols = ["License Serial Number", "Premises Name", "County ID Code"]
premise_transformed= premise_df[premise_cols].copy()

# Clean the data by dropping duplicates and setting the index
premise_transformed.drop_duplicates("id", inplace=True)
premise_transformed.set_index("id", inplace=True)

premise_transformed.head()

In [11]:
EU_file = "Resources/EnergyUsage.csv"
energy_df = pd.read_csv(EU_file)
energy_df.head()

,State,Coal,Natural Gas,Distillate Fuel Oil,HGL,Jet Fuel,Motor Gasoline,Residual Fuel Oil,Other,Total,Nuclear Fuel,Wood and Waste,Total.1,Electric Power Sector,Electric Retail Sales,Total Energy
0,Alabama,2.54,4.49,20.68,22.12,15.39,20.40,9.08,26.54,20.47,0.74,2.81,7.25,2.17,28.27,16.71
1,Alaska,6.49,8.90,23.07,22.62,16.23,30.73,11.74,28.88,21.26,—,10.24,17.67,7.76,56.80,22.12
2,Arizona,2.44,4.71,21.92,25.05,15.93,24.72,—,22.88,23.52,0.68,5.77,10.04,2.01,31.80,24.44
3,Arkansas,1.99,5.86,20.77,19.22,15.5,20.64,—,22.44,20.61,0.81,3.03,8.36,2.07,22.83,16.46
4,California,3.53,7.42,26.78,25.39,15.67,28.09,14.93,28.81,24.72,0.68,3.11,17.39,3.68,48.69,24.29

In [ ]:
TEC_file = "Resources/Total Energy Consumed per Capita-StateRankings.csv"
energy_df = pd.read_csv(EU_file)
energy_df.head()